<div class="card">
  <div class="card-header bg-info">
    <h6>Employ Registstion</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="employeeForm" (ngSubmit)="formSubmit()">
      <div class="row">
        <div class="form-group col">
          <label>Department</label>
          <select class="form-control" name="Department"  formControlName = "Department" [class.is-invalid]="employeeForm.get('Department')?.invalid && employeeForm.get('Department')?.touched">
            <option value="">---select----</option>
            <option value="Accounts">Accounts</option>
            <option value="Manager">Manager</option>
            <option value="Administrator">Administrator</option>
          </select>
          <div *ngIf="employeeForm.get('Department')?.invalid && employeeForm.get('Department')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('Department')?.errors?.required">Department is required.</div>
          </div>
        </div>
        <div class="form-group col" >
          <label>Employ Name </label>
          <input type="text" class="form-control"   name="Employ_Name" formControlName = "Employ_Name" [class.is-invalid]="employeeForm.get('Employ_Name')?.invalid && employeeForm.get('Employ_Name')?.touched">
          <div *ngIf="employeeForm.get('Employ_Name')?.invalid && employeeForm.get('Employ_Name')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('Employ_Name')?.errors?.required">Employ Name is required.</div>
          </div>
          <div *ngIf="employeeForm.get('Employ_Name').errors?.minlength && employeeForm.get('Employ_Name').touched" class="invalid-feedback">
            Required minimum three characters.
          </div>
          <div *ngIf="employeeForm.get('Employ_Name').errors?.maxlength && employeeForm.get('Employ_Name').touched" class="invalid-feedback">
            Required maximum twenty characters.
          </div>
        </div>
        <div class="form-group col" >
          <label>Mobile No</label>
          <input type="text" class="form-control" name="Mobile"  formControlName = "Mobile" [class.is-invalid]="employeeForm.get('Mobile')?.invalid && employeeForm.get('Mobile')?.touched">
          <div *ngIf="employeeForm.get('Mobile')?.invalid && employeeForm.get('Mobile')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('Mobile')?.errors?.required">Mobile No is required.</div>
          </div>
          <div *ngIf="employeeForm.get('Employ_Name').errors?.minlength && employeeForm.get('Employ_Name').touched" class="invalid-feedback">
            Required minimum ten number.
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Gender</label>
          <select class="form-control" name="Gender"  formControlName = "Gender" [class.is-invalid]="employeeForm.get('Gender')?.invalid && employeeForm.get('Gender')?.touched">
            <option value="">---select----</option>
            <option value="Mail">Mail</option>
            <option value="FEmail">Femail</option>
          </select>
          <div *ngIf="employeeForm.get('Gender')?.invalid && employeeForm.get('Gender')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('Gender')?.errors?.required">Gender is required.</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Date of join</label>
          <input type="date" class="form-control" name="Joining_Date" formControlName="Joining_Date"  [class.is-invalid]="employeeForm.get('Joining_Date')?.invalid && employeeForm.get('Joining_Date')?.touched">
          <div *ngIf="employeeForm.get('Joining_Date')?.invalid && employeeForm.get('Joining_Date')?.touched" class="invalid-feedback">
              <div *ngIf="employeeForm.get('Joining_Date')?.errors?.required">Date of join is required.</div>
          </div>
      </div>

        <div class="form-group col">
          <label>Email</label>
          <input type="Email" class="form-control" name="Email"  formControlName = "Email" [class.is-invalid]="employeeForm.get('Email')?.invalid && employeeForm.get('Email')?.touched">
          <div *ngIf="employeeForm.get('Email')?.invalid && employeeForm.get('Email')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('Email')?.errors?.required">Email is required.</div>
          </div>
          
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Salary</label>
          <input type="text" class="form-control" name="salary" formControlName = "salary" [class.is-invalid]="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched">
          <div *ngIf="employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('salary')?.errors?.required">Salary is required.</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Password</label>
          <input type="password" class="form-control" name="password" formControlName = "password" [class.is-invalid]="employeeForm.get('password')?.invalid && employeeForm.get('password')?.touched">
          <div *ngIf="employeeForm.get('password')?.invalid && employeeForm.get('password')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('password')?.errors?.required">Password is required.</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Conform Password</label>
          <input type="password" class="form-control" name="confirmPass" formControlName = "confirmPass" [class.is-invalid]="employeeForm.get('confirmPass')?.invalid && employeeForm.get('confirmPass')?.touched">
          <div *ngIf="employeeForm.get('confirmPass')?.invalid && employeeForm.get('confirmPass')?.touched" class="invalid-feedback">
            <div *ngIf="employeeForm.get('confirmPass')?.errors?.required">Conform Password is required.</div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" name="empstatus" formControlName = "empstatus" [class.is-invalid]="employeeForm.get('empstatus')?.invalid && employeeForm.get('empstatus')?.touched">
              <label>Active</label>
              <div *ngIf="employeeForm.get('empstatus')?.invalid && employeeForm.get('empstatus')?.touched" class="invalid-feedback">
                <div *ngIf="employeeForm.get('empstatus')?.errors?.required">Conform box is required.</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group text-center">
          <button type="submit" [class.disabled]="employeeForm.invalid" class="btn btn-success me-2">{{buttenText}}</button>
          <button type="button" class="btn btn-warning me-2" (click)="resetBtn()">Reset</button>
          <button type="button" class="btn btn-danger me-2" (click)="cancelBtn()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>






<div class="card">
  <div class="card-header bg-info"><h6>Employ List</h6></div>
  <div class="card-body">
    <div class="row">
      <table class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th>Department</th>
            <th>Employ Name</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Joining Date</th>
            <th>Email</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.Department}}</td>
            <td>{{employee.Employ_Name}}</td>
            <td>{{employee.Mobile}}</td>
            <td>{{employee.Gender}}</td>
            <td>{{employee.Joining_Date}}</td>
            <td>{{employee.Email}}</td>
            <td class="text-center ">
             <i class="fa fa-edit text-primary me-2" (click)="edit(employee._id)"></i>
             <i class="fa fa-info text-info me-2"></i>
             <i class="fa fa-trash-o text-danger me-2" (click)="Delete(employee._id)"></i>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>